<!DOCTYPE html>

<html>
    <head>

      <title>RESEARCH NOW</title>
      <script src="js/script.js"></script>
      <link rel="stylesheet" href="css/webdesign.css"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>

    <body style="background-color: #B9D9EB;">
      
      <nav class="navibar">
        <div class="navibar_container">
          <a href="/" id="navi_logo"> <i class="fa fa-book"></i>RESEARCH NOW</a>
          <div class="navibar_toggle" id="menu_bar">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <ul class="navibar_menu">
            <li class="navi_part">
              <a href="/" class="navi_link" title="Go to the Home page">Home</a>
            </li>
            <li class="navi_part">
              <a href="/search" class="navi_link" title="Explore new content including articles reports and books, ready for you to discover">Explore</a>
            </li>
            <li class="navi_part">
              <a href="/shop" class="navi_link" title="Visit the Shop to purchase your found content items">Shop</a>
            </li>
            <li class="navi_part">
              <button id="contact-btn" class="contact-btn" title="Contact us for further information or any questions you may have">Contact</button>
            </li>
            <li class="navi_button">
              <button class="button" onclick="openForm()" title="Sign up for an account">Sign up</button>
            </li>

            <li class="navi_part">
              <button id= "shopping-basket" style="font-size:24px; width: 150%;" title="My Basket"><i class="fa fa-shopping-basket"></i><span class="item-count">0</span></button>
          </li>
          <li class="navi_part">
            <a href="/myprofile">
            <button id="myp" class="myp" title="My Profile">My profile</button></a>
          </li>
          
          </ul>
        </div>
      </nav>
      

<div class="main" id="myForm">  	
		<input type="checkbox" id="chk" >

			<div class="signup">
				<form action="/action_page.php">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button class="button1">Sign up</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
				</form>
			</div>

			<div class="login">
				<form action="/action_page.php" >
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </div>
				</form>
			
	</div>

  <% if (typeof message !== 'undefined' && message !== '') { %>
    <p><%= message %></p>
  <% } %>
  
  <div class="search">
    <form action="/search" class="search_bar" method="get">
      <input type="text" placeholder="Search Here For Content" name="query" id="searchInput">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  
 <!-- adding versions of jQuery to help with the autosuggestions-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="path/to/jquery.min.js"></script>

<script>
  $(function() {
    // search suggestions from the keywords array 
    var availableTags = [
    "CRIMINAL",
  "LAW ",
  "Amy",
  "DeLine",
  "Adair",
  "Crosley",
  "C.",
  "R.",
  "Sridhar",
  "Urban",
  "Crime",
  "Hee-Jong",
  "Joo",
  "CONTROL",
"Cultural",
  "Studies",
  "Janet",
  "Wolff",
  "Culture",
"Youth",
  "Jeff",
  "Ferrell",
  "Cultural Space",
"FEMINISM",
  "Loraine",
  "Gelsthorpe",
  "Allison",
  "Morris",
  "BRITAIN",
"INEQUALITY",
  "Morgan",
  "Kelly",
"VARIETIES",
  "ENLIGHTENMENT",
  "Philip",
  "Jenkins",
  "Social Policy",
  "Family",
  "Concepts",
  "Concerns",
  "Shirley",
  "L.",
  "Zimmerman",
  "Analytic Tools",
"STATES",
  "POLICIES",
  "Theda",
  "Skocpol",
  "Edwin",
  "Amenta",
  "Geoff Whitty",
  "Education",
  "Research",
  "Social",
  "Bob",
  "Lingard",
  "Justice",
"Ideology",
  "Shaped",
  "Psychology",
  "Time",
  "Wars",
  "Gordana",
  "Jovanović",
  "Politics",
  "ALLEVIATION",
  "ethnic",
  "groups",
  "food poverty line",
  "Living Standards Measurement Surveys",
  "poverty line",
  "poverty",
  "reduction",
  "social development",
  "Brian",
  "Van",
  "Arkadie",
  "Raymond",
  "Mallon",
  "welfare",
"Prevention",
  "Criminology",
  "Christine",
  "Gervais",
  "Governmentality",
"Community",
  "Policing",
  "19th",
  "Century",
  "Britain",
  "Imperial Japan",
  "Rethinking",
  "International",
  "Deniz",
  "Kocak",
  "Reform",
"Inequality",
  "Emma",
  "Aguila",
  "Alisher",
  "R.",
  "Akhmedjonov",
  "Ricardo",
  "Basurto-Davila",
  "Krishna",
  "B.",
  "Kumar",
  "Sarah",
  "Kups",
  "Howard",
  "J.",
  "Shatz",
  "Mexico",
  "Gjalt",
  "de",
  "Graaf",
  "Patrick",
  "von",
  "Maravić",
  "Pieter",
  "Wagenaar",
  "Corruption",
  "gender",
  "equality",
  "Meredith",
  "Edwards",
  "Miranda",
  "Stewart",
  "Legitimacy",
  "Robert",
  "E.",
  "Worden",
  "Sarah",
  "J.",
  "McLean",
"History",
  "Psychology",
  "Schools",
  "Adelaide",
  "Neil",
  "Kirby",
  "Universities",
"Human",
  "psychology",
  "intelligent",
  "machines",
  "Aaron",
  "Celaya",
  "Nick",
  "Yeung",
  "Arbara",
  "Kotschwar",
  "Policy",
"Police",
  "Corruption",
  "Past",
  "Scandals",
  "David",
  "Bayley",
  "Robert",
  "Perito",
  "Challenges",
  "PROBATION",
  "TIME",
  "Emily",
  "Mooney",
  "Nila",
  "Bala",
  "COVID-19",
  "state-sponsored",
  "Johannes",
  "Wiggen",
  "cyber",
  "Responses",
  "Merike",
  "Blofield",
  "Bert",
  "Hoffmann",
  "Crisis",
"Theories",
  "Robert Muggah",
  "Katherine",
  "Aguirre",
  "Tobón",
  "violence",
"International",
  "political",
  "sociology",
  "ontology",
  "power",
  "Stefano",
  "Guzzini",
  "politics",
"Criminological",
  "Perspectives",
  "Female",
  "Suicide",
  "Maria",
  "Alvanou",
  "Terrorism",
"Urbanisation",
  "ruralurban",
  "migration",
  "urban",
  "Cecilia",
  "Tacoli",
  "Gordon",
  "McGranahan",
  "David",
  "Satterthwaite"
];

    // autocomplete the search suggestions 
    $("#searchInput").autocomplete({
      source: availableTags
    });
  });
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

     <div id="contact-form">
      <h1 style= "font-size: 30px;"> Contact Us</h1>
      <form>
        <div class="form-group">
          <label style="color:black; font-size: 18px;" for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label style="color:black; font-size: 18px;" for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label style="color:black; font-size: 18px;" for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" required>
        </div>
       
        <div class="form-group">
          <label style="color:black; font-size: 18px;" or="message">Message:</label>
          <textarea id="message" name="message" required style="height: 100px; width: 100%;"></textarea>
        </div>
        
        <div class="form-group">
          <button type="submit">Send Message</button>
          <button type="button" id="close-btn">Close</button>
        </div>
      </form>
    </div>
     
<script>
const contactBtn = document.getElementById("contact-btn");
const contactForm = document.getElementById("contact-form");
const closeBtn = document.getElementById("close-btn");

contactBtn.addEventListener("click", () => {
  contactForm.style.display = "block";
});

closeBtn.addEventListener("click", () => {
  contactForm.style.display = "none";
});
</script>     
         
<div class="container2" style="margin-top: -250px;">
  
  <table>
    <thead>
      <tr>
        <th>Order</th>
        
        <th>Title</th>
        <th>Authors</th>
        <th>Year</th>
        <th>Abstract</th>
        <th>Type</th>
        <th>Select</th>
        <th>Price</th>
      </tr>
    </thead>
     <td>
      <tbody>
        <% discover.forEach((article) => { %>
          <% if (article.Type === 'Book') { %> <!-- only include on table if type is 'Book' -->
            <tr>
              <td>
                <select name="order[]" class="order-select" data-id="<%= article._id %>">
                  <option value="0" selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </td>
              <td><%= article.Title %></td>
              <td><%= article.Authors.join(", ") %></td>
              <td><%= article.Year %></td>
              <td>
                <div class="abstract" id="abstract-<%= article._id %>">
                  <% if (article.Abstract.length <= 200) { %>
                    <%= article.Abstract %>
                  <% } else { %>
                    <%= article.Abstract.slice(0, 200) %>...
                    <button id="showMore-<%= article._id %>" onclick="showMore('<%= article._id %>', '<%= article.Abstract %>')">Show more</button>
                  <% } %>
                </div>
              </td>
              <td><%= article.Type %></td>
              <td><input type="checkbox" class="document-checkbox" name="selected[]" value="<%= article._id %>" style="transform: scale(2.5);"></td>
              <td>
                £4.99 
              </td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
  </table>

</div>

<script>
  function showMore(articleId, abstract) {
    const abstractElement = document.getElementById(`abstract-${articleId}`);
    const showMoreButton = abstractElement.querySelector(`button`);
    
    //abstractElement.classList.toggle("expanded");
  
    if (abstractElement.classList.contains("expanded")) {
      // Showing only the beginning of the abstract
      showMoreButton.innerHTML = "Show More";
      abstractElement.innerHTML = `${abstract.slice(0, 200)}...`;
      abstractElement.classList.remove("expanded");
    } else {
      // Showing all the abstract
      showMoreButton.innerHTML = "Show Less";
      abstractElement.innerHTML = abstract;
      abstractElement.classList.add("expanded");
    }
    abstractElement.appendChild(showMoreButton);
  }
  </script>

<script>
  
const checkboxes = document.querySelectorAll('.document-checkbox');
checkboxes.forEach(checkbox => {
checkbox.addEventListener('change', event => {
if (event.target.checked) {
// Get the row element that contains the selected checkbox
const row = event.target.closest('tr');

// Get the values of the cells in the row
const year = row.querySelector('td:nth-child(3)').textContent;
const title = row.querySelector('td:nth-child(2)').textContent;
const authors = row.querySelector('td:nth-child(4)').textContent;

// Show pop-up window with information about the selected article
window.alert(`Selected document:\nYear: ${year}\nTitle: ${title}\nAuthors: ${authors}`);
}
});
});
</script>

<script>
  let itemCount = 0;
  const itemCountSpan = document.querySelector('.item-count');
  const shoppingBasketBtn = document.querySelector('#shopping-basket');

  shoppingBasketBtn.addEventListener('click', () => {
    window.location.href = "/order";
  });

  
  const orderForm = document.querySelector('form');
  orderForm.addEventListener('submit', (event) => {
    event.preventDefault();
    window.location.href = '/order';
  });

document.addEventListener('DOMContentLoaded', () => {
  const storedItemCount = localStorage.getItem('itemCount');
  if (storedItemCount !== null) {
    itemCount = parseInt(storedItemCount);
    itemCountSpan.innerText = itemCount;
  }
});

function addItemToBasket(value, id, title, year, authors) {
  itemCount += parseInt(value);
  itemCountSpan.innerText = itemCount;

  
  const item = {
    id: id,
    title: title,
    year: year,
    authors: authors,
    quantity: value
  };
  let basket = localStorage.getItem('basket');
  if (basket === null) {
    basket = [item];
  } else {
    basket = JSON.parse(basket);
    let itemIndex = basket.findIndex(i => i.id === id);
    if (itemIndex === -1) {
      basket.push(item);
    } else {
      basket[itemIndex].quantity = value;
    }
  }
  localStorage.setItem('basket', JSON.stringify(basket));
}
const orderSelects = document.querySelectorAll('.order-select');
orderSelects.forEach(select => {
  select.addEventListener('change', () => {
    const id = select.dataset.id;
    const value = select.value;
    const title = select.closest('tr').querySelector('td:nth-child(2)').textContent;
    const year = select.closest('tr').querySelector('td:nth-child(4)').textContent;
    const authors = select.closest('tr').querySelector('td:nth-child(3)').textContent.split(', ');
    //const okBtn = document.querySelector(`#ok-${id}`);
    //okBtn.style.display = 'inline-block';
    addItemToBasket(value, id, title, year, authors);
  });
});

</script>

<script>
  const clearBasketBtn = document.querySelector('#clear-basket');
clearBasketBtn.addEventListener('click', () => {
localStorage.removeItem('basket');
itemCount = 0;
itemCountSpan.innerText = itemCount;
const orderItems = document.querySelector('#order-items');
orderItems.innerHTML = '';
});
</script>

<footer class="footer" style="position: relative; bottom: 0; width: 100%; margin: auto 0;">
  <div class="container">
      <div class="row">
          <div class="footer_col">

              <h4 style ="font-size: 23px;">Company</h4>
              <ul>
                  <li> <a href="/aboutus">About us</a></li>
                  <li> <a href="/ourservices">Our Services</a></li>
                  <li> <a href="/privacy">Privacy Policy</a></li>
              </ul>
          </div>
          <div class="footer_col">
              <h4 style ="font-size: 23px;">Get Help</h4>
              <ul>
                  <li> <a href="/faq">FAQ</a></li>
                  <li> <a href="/shipping">Shipping</a></li>
                  <li> <a href="/returns">Returns</a></li>
                
              </ul>
          </div>
          <div class="footer_col">
              <h4 style ="font-size: 23px;">Online Shop</h4>
              <ul>
                <li> <a href="/shoparticles">Articles </a></li>
                <li> <a href="/shopbooks">Books</a></li>
                <li> <a href="/shopreports">Reports</a></li>
                
              </ul>
          </div>

          <div class="footer_col">
              <h4 style ="font-size: 23px;">Follow Us</h4>
              <div class="social_links">
              <ul>
                  <a href="https://www.facebook.com/UniversityofKent/?locale=en_GB"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/UniKent?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.instagram.com/unikentlive/?hl=en"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/school/university-of-kent/"><i class="fa fa-linkedin"></i></a>
              </ul>
          </div>
          </div>

      </div>
  </div>
</footer>
  </body>
</html>
